/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full viewport height */


/* Root container */
body,html,#root {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */
  overflow-x: hidden;
}
Link{
  text-decoration: none;
}
